body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1{
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;
}

.btn{
    background-color: black;
    color:white;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    cursor: pointer;
    transition: 1s background-color;
    white-space: nowrap;
}

.btn:hover{
    background: white;
    color: black;

}

.split{
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.split.left{
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/refurb-iphone-13-pro-blue-2023?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1679072987994");
    background-size: cover;
    background-position: center center;    
}

.split.right{
    position: absolute;
    right: 0;
    background-color: lightblue;
    background-image: url("https://image-us.samsung.com/us/smartphones/galaxy-s24/all-gallery/01_E2_OynxBlack_Lockup_1600x1200.jpg?$product-details-jpg$");
    background-size: cover;

}

.active-left .left{
    width: 75%;
}

.active-left .right{
    width: 25%;
}

.active-right .left{
    width: 25%;
}

.active-right .right{
    width: 75%;
}